@charset "UTF-8";
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/shrikhand/Shrikhand-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Thin.ttf");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
/* Common */
button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1em;
  display: flex;
  justify-content: center;
}
body.background-color {
  background-color: grey;
}

.page {
  max-width: 768px;
  /*Tablet's screenwidth*/
  min-width: 280px;
  background-color: white;
}

h1 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* Fonts, body, a, hN */
/* colors */
/* keyframes*/
/* /Loader-page */
@keyframes loaderpage {
  /*Loading Page opacity*/
  0% {
    opacity: 1;
    z-index: 2;
  }
  75% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 2;
  }
}
@keyframes move-title {
  /* Loadspinner title moving down */
  0% {
    transform: scale(0.8);
    color: #FF79DA;
    padding-top: 0;
  }
  50% {
    transform: scale(0.8);
    color: #9356DC;
    padding-top: 0;
  }
  100% {
    transform: scale(1);
    padding-top: 3em;
  }
}
@keyframes loadspinner {
  /* Loadspinner circles animation */
  0% {
    background-color: #e0e0e0;
    transform: scale(1);
    opacity: 1;
  }
  25% {
    background-color: #FF79DA;
    transform: scale(1.1);
    opacity: 1;
  }
  75% {
    background-color: #9356DC;
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    background-color: #e0e0e0;
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes like-stroke-animation {
  /* Like animation 1st part */
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    stroke: url(#MyGradient);
    transform: scale(1);
  }
  70% {
    fill: url(#MyGradient);
    fill-opacity: 0.25;
    stroke-opacity: 0.25;
  }
  80% {
    fill: url(#MyGradient);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: url(#MyGradient);
    stroke: url(#MyGradient);
  }
}
/* /Restaurants */
@keyframes like-fade-animation {
  /* Like animation 2nd part */
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: #FF79DA;
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
/* padding */
/* /restaurant */
/* Restaurant page */
@keyframes fadeInUp {
  /* Fade in Article apparition when the user come on the page */
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes checked {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes unchecked {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes rotation360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation0 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* variables, mixins, functions, keyframes */
/* loader-spinner */
.loader-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-color: white;
  font-family: "Shrikhand";
  font-size: 3em;
  opacity: 0;
  animation: loaderpage 4s ease;
}
.loader-page span {
  transform: scale(1);
  max-width: 768px;
  animation: move-title 4s linear;
}
.loader-page .spinners {
  width: fit-content;
  height: fit-content;
  display: flex;
}
.loader-page .spinners .spinner {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin: 2rem;
  opacity: 0;
  animation: loadspinner 3s ease-in-out;
}

/*Header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .logo {
  width: 166px;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Footer */
footer {
  display: block;
  padding: 30px 30px 30px 30px;
  background-color: black;
  color: white;
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 1.2em;
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 15px;
}
footer li a {
  color: white;
}
footer li a i {
  margin-right: 5px;
  width: 20px;
}
footer li a:hover {
  text-decoration: underline;
}

/* BEM reusable , footer, header */
/* Button components */
/* variables, mixins, functions, keyframes */
/* Restaurant A la francaise */
/*Header layout + home page link(arrow left)*/
header .return-homepage {
  position: absolute;
  align-items: center;
  left: 0;
  color: black;
  padding-left: 0.5em;
  font-size: 1.5em;
}

/* Restaurant image */
.restaurant-presentation {
  position: relative;
  padding: 0;
}
.restaurant-presentation__image {
  width: 100%;
}

/* Menu */
.restaurant-menu {
  position: relative;
  margin-top: -2em;
  padding: 1.5em 0.5em 1.5em 0.5em;
  background-color: #F5F5F5;
  border-radius: 30px 30px 0px 0px;
}
.restaurant-menu__title {
  display: flex;
  position: relative;
}
.restaurant-menu__title h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
.restaurant-menu__title .icon-like {
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
  position: absolute;
  right: 25px;
}
.restaurant-menu__title .icon-like svg {
  overflow: visible;
  width: 1.8rem;
}
.restaurant-menu__title .icon-like path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.restaurant-menu__title .icon-like .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.restaurant-menu__title .icon-like .heart-main:hover path {
  animation: like-stroke-animation 2s ease-in-out forwards;
}
.restaurant-menu__title .icon-like .heart-main:hover ~ .heart-background path {
  animation: like-fade-animation 2s ease-in-out forwards;
}
.restaurant-menu__title .icon-like svg {
  width: 1.2rem;
}
.restaurant-menu__courses {
  padding: 0em 0em 2em 0em;
}
.restaurant-menu__courses h2 {
  position: relative;
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-weight: 300;
  line-height: 0.8em;
}
.restaurant-menu__courses h2::after {
  /*The green bar underlining each h2*/
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 0;
  width: 40px;
  content: "";
  border-top: 3px solid #99E2D0;
}
.restaurant-menu__courses .course-grid {
  display: grid;
  grid-template-columns: 80% 20% 20%;
  grid-template-rows: 1fr 1fr;
  column-gap: 0%;
  position: relative;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 3px 15px -10px rgba(0, 0, 0, 0.62);
  margin-bottom: 1em;
  font-size: 1em;
  animation: unchecked 1s forwards;
  opacity: 1;
  transform: translateY(0%);
}
.restaurant-menu__courses .course-grid .ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restaurant-menu__courses .course-grid__info {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.restaurant-menu__courses .course-grid__info--main {
  font-weight: bold;
  padding: 0.5em 0.5em 0.5em 0.5em;
  grid-column-start: span 2;
  width: 100%;
}
.restaurant-menu__courses .course-grid__info--side {
  grid-row-start: 2;
  grid-column-start: 1;
  font-weight: 300;
  font-size: 0.9em;
  color: grey;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 100%;
}
.restaurant-menu__courses .course-grid__price {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: white;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-right: 1em;
  animation: unchecked 1s forwards;
}
.restaurant-menu__courses .course-grid__animation {
  grid-column-start: 3;
  grid-row-end: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: white;
  animation: unchecked 1s forwards;
  transform: rotate(0deg);
}
.restaurant-menu__courses .course-grid__animation .fa-check-circle {
  animation: rotation0 1s forwards;
}
.restaurant-menu__courses .course-grid:hover {
  opacity: 1;
  column-gap: 0%;
  transform: rotate(360deg);
}
.restaurant-menu__courses .course-grid:hover .course-grid__info--main {
  width: 80%;
  /*width property override the width defined 
  into the grid-template-coluumns*/
  transition: width 1s ease-in-out;
  /*Simultaneous with checked animations*/
}
.restaurant-menu__courses .course-grid:hover .course-grid__info--side {
  width: 80%;
  /*width property override the width defined 
  into the grid-template-coluumns*/
  transition: width 1s ease-in-out;
  /*Simultaneous with checked animations*/
}
.restaurant-menu__courses .course-grid:hover .course-grid__price {
  transform: translateX(0%);
  animation: checked 1s forwards;
}
.restaurant-menu__courses .course-grid:hover .course-grid__animation {
  visibility: visible;
  transform: translateX(0%);
  animation: checked 1s forwards;
}
.restaurant-menu__courses .course-grid:hover .course-grid__animation .fa-check-circle {
  animation: rotation360 1s forwards;
}
.restaurant-menu .delivery {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.restaurant-menu .delivery__btn {
  padding: 20px 20px;
  box-shadow: 5px 5px 15px -10px rgba(0, 0, 0, 0.62);
  color: white;
  background: linear-gradient(0.48turn, #FF79DA, #9356DC);
  border-radius: 40px;
}
.restaurant-menu .delivery__btn:hover {
  background: linear-gradient(0.48turn, #fface8, #ae80e5);
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.62);
}

.fadeInUp:nth-of-type(1) {
  animation: fadeInUp 1s ease-in-out 0.2s forwards;
  opacity: 0;
  transform: translateY(0%);
}

.fadeInUp:nth-of-type(2) {
  animation: fadeInUp 1s ease-in-out 0.4s forwards;
  opacity: 0;
  transform: translateY(0%);
}

.fadeInUp:nth-of-type(3) {
  animation: fadeInUp 1s ease-in-out 0.6s forwards;
  opacity: 0;
  transform: translateY(0%);
}

.fadeInUp:nth-of-type(4) {
  animation: fadeInUp 1s ease-in-out 0.8s forwards;
  opacity: 0;
  transform: translateY(0%);
}

.fadeInUp:nth-of-type(5) {
  animation: fadeInUp 1s ease-in-out 1s forwards;
  opacity: 0;
  transform: translateY(0%);
}

.fadeInUp:nth-of-type(6) {
  animation: fadeInUp 1s ease-in-out 1.2s forwards;
  opacity: 0;
  transform: translateY(0%);
}

.fadeInUp:nth-of-type(7) {
  animation: fadeInUp 1s ease-in-out 1.4s forwards;
  opacity: 0;
  transform: translateY(0%);
}

.fadeInUp:nth-of-type(8) {
  animation: fadeInUp 1s ease-in-out 1.6s forwards;
  opacity: 0;
  transform: translateY(0%);
}

.fadeInUp:nth-of-type(9) {
  animation: fadeInUp 1s ease-in-out 1.8s forwards;
  opacity: 0;
  transform: translateY(0%);
}

footer {
  position: relative;
}

/* Page spécifique aux restaurants */
/* Search */
.search {
  display: flex;
  justify-content: center;
  height: 45px;
  background-color: #e0e0e0;
}
.search .location {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.search .location__icon {
  width: 33.3%;
  display: flex;
  justify-content: flex-end;
}
.search .location__icon .fa-map-marker-alt {
  padding-right: 1em;
}
.search .location__selected {
  width: 50%;
  font-weight: normal;
  display: flex;
}
.search .location__selected input {
  border: none;
  background: none;
}
.search .location__selected input::placeholder {
  color: black;
  font-weight: bold;
  opacity: 1;
}
.search .location__selected input:focus-visible {
  outline-color: #9356DC;
  background: white;
  padding: 0.2em;
}
.search:hover {
  font-weight: bold;
  background-color: #c7c7c7;
}

/*Présentation*/
.presentation {
  display: block;
  text-align: center;
  padding: 30px 30px 30px 30px;
  background-color: #F5F5F5;
}
.presentation h1 {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 20px;
}
.presentation p {
  font-size: 1.1em;
  font-weight: 100;
  padding-bottom: 30px;
}
.presentation .btn-explorer {
  padding: 20px 20px;
  box-shadow: 5px 5px 15px -10px rgba(0, 0, 0, 0.62);
  color: white;
  background: linear-gradient(0.48turn, #FF79DA, #9356DC);
  border-radius: 40px;
}
.presentation .btn-explorer:hover {
  background: linear-gradient(0.48turn, #fface8, #ae80e5);
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.62);
}

/* Steps */
.steps {
  display: block;
  padding: 30px 30px 30px 30px;
}
.steps h2 {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 20px;
}
.steps .step {
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  padding: 25px 25px;
  background: #F5F5F5;
  border-radius: 15px;
  box-shadow: 5px 3px 15px -10px rgba(0, 0, 0, 0.62);
  position: relative;
  left: 5px;
}
.steps .step__number {
  background-color: #9356DC;
  color: white;
  font-size: 0.8em;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
}
.steps .step__icon {
  margin-left: 10px;
  margin-right: 20px;
  color: grey;
}
.steps .step__icon--purple {
  color: #9356DC;
}
.steps .step__name {
  font-weight: 500;
}
.steps .step--purple {
  background-color: #f2eafb;
}

/* Restaurants*/
.restaurants {
  display: block;
  padding: 30px 30px 30px 30px;
  background-color: #F5F5F5;
}
.restaurants h2 {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 20px;
}
.restaurants .restaurant {
  height: 250px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 3px 15px -10px rgba(0, 0, 0, 0.62);
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
}
.restaurants .restaurant__image {
  height: 68%;
  /* This parameter must be set regarding .restaurant__info height.
  Mustn't cross 100% in total */
  overflow: hidden;
  position: relative;
}
.restaurants .restaurant__image img {
  width: 100%;
  position: relative;
}
.restaurants .restaurant__image .badge-new {
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  padding: 0.375rem 0.5rem;
  background-color: #99E2D0;
  border-radius: 3px;
  color: #1b6150;
}
.restaurants .restaurant__info {
  padding: 10px;
  width: 100%;
  height: 32%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.restaurants .restaurant__info h3 {
  font-weight: bold;
  font-size: 1em;
  margin: 5px;
}
.restaurants .restaurant__info span {
  font-weight: 300;
  margin: 5px;
}
.restaurants .restaurant__info .icon-like {
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
  position: absolute;
  right: 25px;
}
.restaurants .restaurant__info .icon-like svg {
  overflow: visible;
  width: 1.8rem;
}
.restaurants .restaurant__info .icon-like path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.restaurants .restaurant__info .icon-like .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.restaurants .restaurant__info .icon-like .heart-main:hover path {
  animation: like-stroke-animation 2s ease-in-out forwards;
}
.restaurants .restaurant__info .icon-like .heart-main:hover ~ .heart-background path {
  animation: like-fade-animation 2s ease-in-out forwards;
}

/*# sourceMappingURL=style.css.map */
