/* loader-spinner */
.loader-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: white;
    font-family: 'Shrikhand';
    font-size: 3.0em;
    opacity : 0;
    animation : loaderpage 4s ease;
        
    span {
        transform: scale(1);
        
        max-width: 768px;
        animation: move-title 4s linear;
    }
    .spinners {
        width: fit-content;
        height: fit-content;
        display: flex;

        .spinner {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: $dark-grey;
            margin: 2rem;
            opacity: 0;
            animation : loadspinner 3s ease-in-out;
        }
    }  
}
/*Header*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .logo {
        width: 166px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

/* Footer */
footer{
    display:block;
    @include padding-section;
    background-color: black;
    color: white;
    
    & h2 {
        font-family: 'Shrikhand';
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    li {
        margin-bottom: 15px;
        a {
            color: white;
            i {
                margin-right: 5px;
                width: 20px;
            }
            &:hover {
                text-decoration:underline;
            }
        }
    }
}