/* Restaurants */


/*Header layout + home page link(arrow left)*/
header{
    .return-homepage {
        position: absolute;
        align-items: center;
        left: 0;
        color: black;
        padding-left: 0.5em;
        font-size: 1.5em;
    }
}

/* Restaurant image */    
.restaurant-presentation {
    position: relative;
    padding: 0;
    height: 220px;
    overflow: hidden;
    
    &__image {
        width: 100%;
        @each $name, $val in $img-translate {
            &[alt="Picture of #{$name}"] {
                transform:translateY(#{$val}px)
            } 
        }
    }
}

/* Menu */
.restaurant-menu {
    position: relative;
    margin-top: -2em;  
    padding: 1.5em 0.5em 1.5em 0.5em;
    background-color: $light-grey;
    border-radius: 30px 30px 0px 0px;
    &__title{
        display: flex;
        position:relative;
        h1 {
            font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
            font-size: 1.5em
        }
        .icon-like {
            @include like-design-animation();
            svg {
                width: 1.2rem;
            }
        }
    }
    &__courses {
        padding: 0em 0em 2em 0em;
        h2 {
            position: relative;
            margin-top: 3em;
            margin-bottom: 1.5em;
            font-weight: 300;
            line-height: .8em;
            &::after { /*The green bar underlining each h2*/
                position: absolute;
                left: 0;
                top: 1.2em;
                height: 0;
                width: 40px;
                content: '';
                border-top: 3px solid $tertiary-clr;
            }
        }



        .course-grid {
            display: grid;
            grid-template-columns: 80% 20% 20%;
            grid-template-rows: 1fr 1fr;
            column-gap: 0%;
            position: relative;
            background: white;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 5px 3px 15px -10px rgb(0 0 0 / 62%);
            margin-bottom: 1em;
            font-size: 1em;            
            opacity: 1;
            transform: translateY(0%);
            .ellipsis {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &__info {  
                &--main {
                    font-weight: bold;
                    padding: 0.5em 0.5em 0.5em 0.5em;
                    grid-column-start: span 2;
                    width: 100%;
                }
                &--side {
                    grid-row-start: 2;
                    grid-column-start: 1;
                    font-weight: 300;
                    font-size: .9em;
                    color: grey;
                    padding: 0.5em 0.5em 0.5em 0.5em;
                    width: 100%;

                }
            }
            &__price {
                grid-row-start: 2;
                grid-column-start: 2;
                background-color: white;
                font-weight: bold;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                padding: 0.5em 0.5em 0.5em 0em;
                margin-right: 1em;
                transform:translateX(0%);
                transition: all 1s;
            }
            &__animation {
                grid-column-start: 3;
                grid-row-end: span 2;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $tertiary-clr;
                color: white;
                animation: all 1s forwards;
                transform: rotate(0deg);
                transform:translateX(0%);
                width: 0%;
                transition: all 1s;
                .fa-check-circle {
                    animation: rotation0 1s forwards;
                }

            }
            &:hover {
                opacity: 1;
                column-gap: 0%;
                transform: rotate(360deg);

                .course-grid__info {
                    &--main {
                        width: 80%; /*width property override the width defined 
                    into the grid-template-coluumns*/
                    transition: width 1s ease-in-out; /*Simultaneous with checked animations*/
                    }
                    
                    &--side {
                    width: 80%; /*width property override the width defined 
                    into the grid-template-coluumns*/
                    transition: width 1s ease-in-out; /*Simultaneous with checked animations*/
                    }
                }
                
                .course-grid__price {
                    transform: translateX(-100%);
                    transition: all 1s ease-in-out;
                    // animation: checked 1s forwards;

                }                
                .course-grid__animation {
                    visibility: visible;
                    transform: translateX(-100%);
                    width: 100%;
                    transition: all 1s ease-in-out;
                    // animation: checked 1s forwards;
                    
                    .fa-check-circle {
                        animation: rotation360 1s forwards;
                    }
                }
                
            }
        }
    }
    .delivery {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        &__btn {
            @include corporate-design-btn();
        }

    }  
}

/* Media queries */ 

@media (max-width: 320px) {
    .restaurant-menu__title h1 {
        font-size: 1.3em;
    } 
}
@media (min-width: 500px) {
    .restaurant-presentation {
        height: 300px;
    } 
}
